{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ object.username }}'s Profile</h2>
    <p>Email: {{ object.email }}</p>

    {% if object %}
        <h2>{{ object.get_full_name|default:object.username }}'s Stories</h2>
        {% for story in object.stories.all %}
        <div class="story-card" id="story-card-{{ position }}">
            <a href="{% url 'news:story' story.id %}">
                <img src="{{ story.image }}" alt="{{ story.title }}">
                <div class="story-card-text">
                    <h3>{{ story.title }}</h3>
                    <h4><a href="{% url 'users:authorStories' story.author.id %}">{{ story.author }}</a></h4>
                    <h4>{{ story.pub_date }}</h4>
                </div>
            </a>
        </div>        
        {% endfor %} 
    {% else %}
        <p>This author has not written any stories yet.</p>
    {% endif %}
</div>

{% endblock %}

