{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author}}</h4>
    <h4><a href="{% url 'users:authorStories' pk=request.user.pk %}"> See other stories by {{ story.author.username }}</a></h4>
    <div id="story-content">
        <img src={{ story.image_source }}>
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %}



